<%- include partials/header.ejs %>
<!--Logan Sikora Beder, Georigan College//
Super cool site all about me and stuff-->

<main class="about">
  <!--Simple HTML for a simple person-->
    <br /><h1>About Me</h1>
    <br /><p>This is my second year at Georgian College, I spent most of my time out of class in the gym and on my computer.</p>
    <p><b>I enjoy my time at the gym by helping build my body to be as strong as my knowledge of computers. The Brain and the Brawn, you know?</p>
    <h3>Things I enjoy</h3>
      <p><b><i>Fitness</i></b></p>
      <p><b><i>Music</i></b></p>
      <p><b><i>Video Games</i></b></p>
      <p><b><i>'Parties'</i></b></p>
      <p><b><i>Learning</i></b></p>
      <img class="img" src="images/face.jpg" alt="second example" style="width:500px;height200px;">
</main>

<%- include partials/footer.ejs %>
