<%- include partials/header.ejs %>
<!--Logan Sikora Beder, Georigan College//
Super cool site all about me and stuff-->
  <main class="FirstMain">
    <br /><br /><h1><b><i><%= title %></b></i></h1>
    <h1><br /> My name is <i>Logan Sikora-Beder</i></h1>

    <p><br />I am a <b><big><i>Computer Programming Students</i></big></b> studying at <b><big><i>Georgian College</i></big></b> for the years <b><big><i>2015-2019.</i></big></b></p>
    <br />
    <h1><i>Links</i></h1>
    <br /><a href="https://www.facebook.com/logan.sikorabeder">Facebook</a>
    <br /><a href="https://ca.linkedin.com/in/logan-sikora-beder-9b5a68119">LinkedIn</a>

</main>

    <%- include partials/footer.ejs %>
