<%- include partials/header.ejs %>
<main class="projects">
  <!--Logan Sikora Beder, Georigan College//
  Super cool site all about me and stuff-->
    <h1>Projects</h1>
      <h3><br />While currently low, I have been part of a fair number of projects; both self and school.</h3>
      <p><br /><h2>PROJECTS</h2>
        <br /><b>Game work Python and Java	2016 – Present</b>
        <br /><b>Technology Showcase Arduino Project “Clicker”	2016</b>
        <br /><b>IBM Master the Mainframe Level 2	2015</b></p>
        <img src="images/example1.jpg" alt="first example" style="width:800px;height600px;">
        <br />
        <img src="images/example2.jpg" alt="second example" style="width:800px;height600px;">
</main>

<%- include partials/footer.ejs %>
