<%- include partials/header.ejs %>
  <main class="Services">
    <h1>Services I Can Provide | Have Provided</h1>
    <p><b><i>Through hard work and dedications, I am a capable programmer and hard worker.</i></b></P>
      <h2><br />ENHANCING IT PROJECT RESULTS THROUGH PROGRAMMING SKILLS</h2>

<p><br /><br /><i><b>PROFILE</b></i>

<br /><br /><i>Computer Programming student offering college-level training, a developing skill list, and project-based programming experience. Experience in customer service utilizing above-average communication and negotiation skills. Excellent research, time management, and problem-solving abilities. Highly organized with the capacity to manage multiple projects and consistently meet deadlines and targets in fast-paced environments.</i>

<br /><br /><b>Web Programming | Database Creation and Management | Object Oriented Programming | Application Development Enterprise Computing | IT Project Management | Networking | Systems Analysis | Game & Simulation Programming</b>

<br /><br /><h3><i><b>Technical Skills:</b></i></h3>
<br /><b><i>Java | CSS | HTML | PHP | MySQL | Mainframe | Visual Basic | C# | Javascript</i></b>

<br /><br /><h3><i>PROFESSIONAL EXPERTISE</i></h3>

<br /><br /><h4><b>SOBEYS EXTRA Deli Clerk Aurora, ON	Feb 2013 - Present</h4><b><i>
* Provide exemplary customer service in a fast-paced environment, offering customers a wide-range of fresh meal solutions along with a selection of traditional deli meats and cheeses.
<br />* Assist with monthly inventory check of all deli items (500-1000 different products), sorting and checking products for expiry dates and entering into database.
<br />* Identify expired items left out of previous inventory counts by applying analytical thinking and attention to detail.
<br />* Assist with product transfer to and from stations.</i></b>

<br /><br /><h4><b>SPECTRUM NASCO Warehouse Picker Newmarket, ON	Jun – Jul 2016</b></h4>
<b><i>* Received and filled orders from customer service team by matching outgoing product with purchase orders.
<br />* Enabled quick access to items for future orders by counting goods in warehouse and noting placement and quantity.
<br />* Maintain highest standard of cleanliness and organization in warehouse while ensuring orders are shipped promptly.
<br />* Communicated with other team members on activities and issues regarding product movement.
<br />* Prepared orders for timely shipping; folded and taped boxes, applied labels, packed products, and stacked on pallets.</i></b>

<br /><br /><h4><b>ROGERS TELEVISION Camera Operator, Mobile Assistant Aurora, ON	Jul 2013 – Apr 2014</b></h4>
<b><i>* Gained hands-on experience in a fast-paced live television production environment while supporting all aspects of location setup, putting together a variety of productions from the ground up.
<br />* Assisted with filming of hockey games as mobile truck assistant for ORAD operation and camera assistant.
<br />* Provided support for the filming of the 2014 Celebration of Hope, as truck assistant and ORAD operator.
<br />* Identified and fixed an equipment problem while live on air, eliminating any interruption to the viewer experience by applying troubleshooting and quick-thinking skills.</b></i>

<br /><br /><h3><b>EDUCATION & CERTIFICATIONS</b></h3>
<br /><b><i>Advanced Diploma (Co-op) Computer Programmer Analyst Georgian College	2015 – Present
<br />Ontario Secondary School Diploma Dr. G.W. Williams High School	2012 – 2015
<br />* Specialist High Skills Major certifications include Leadership, Customer Service, Group Dynamics, Conflict Resolution.</i></b>

<br /><br /><b><h3>COMMUNITY INVOLVEMENT</b></h3>
<br /><b><i>Neighbourhood snow shovelling for elderly residents Aurora, ON	2012-2015
<br />Sorting and Packing Barrie Food Bank Barrie, ON	2012 & 2013
<br />Librarian’s Assistant Northern Lights Public School Aurora, ON   	2012 & 2013</i></b>
</p>
</main>

<%- include partials/footer.ejs %>
